@media screen and (max-width: 479px) {
  main {
    width: 480px;
    overflow: hidden;
    height: 10000px;
  }

  #map {
    position: absolute;
    margin: 0;
    max-width: 100%;
    height: 600px;
    z-index: 1;
  }

  #map_header {
    display: none;
  }

  .m_map_header {
    display: flex;
    flex-direction: row;
    width: 480px;
    height: 50px;
    position: absolute;
    z-index: 3;
    margin: 0;
    /* background-color: rgb(232, 244, 244); */
  }

  .m_map_header ul {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    height: 60px;
    margin-top: 10px;
  }
  .m_map_header li {
    padding-top: 10px;
    list-style: none;
    margin-right: 10px;
  }
  .m_map_header a {
    text-decoration: none;
    color: black;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 5px;
    cursor: pointer;
  }
  .m_map_header ul a:hover {
    color: #ff8f8f;
  }
  .m_map_header input {
    width: 75px;
    height: 35px;
    border-radius: 15px;
    font-size: 13px;
    border: 1px solid #e4e4e4;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .m_map_header input:hover {
    border: 1px solid #fcd9d9;
    background-color: rgb(251, 229, 229);
  }

  .map_wrap {
    width: 480px;
    position: block;
  }

  .map_wrap #map {
    margin: 0;
    width: 480px;
    height: 400px;
  }

  #menu_wrap.bg_white {
    position: absolute;
    top: 470px;
    left: 10px;
    bottom: 0;
    /* margin: 10px 0 60px 10px; */
    padding: 5px;
    overflow-y: auto;
    background: #ffffff;
    z-index: 2;
    font-size: 12px;
    border-radius: 10px;
    width: 460px;
  }
  .info-detail-2 {
    overflow: scroll;
    height: 670px;
    width: 480px;
    position: absolute;
    z-index: 998;
    top: 400px;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 480px;
    border-radius: 15px;
  }
  #pl-img {
    margin-left: 25%;
    border-radius: 10px;
    width: 50%;
    height: 180px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .info-detail .bookmark {
    left: 400px;
  }
  .info-detail #pl-review {
    width: 430px;
  }
  .info-container2.info-detail-2 {
    position: absolute;
    top: 420px;
    left: 0;
    width: 800px;
    height: 600px;
    overflow: scroll;
    background-color: #fff5f5ee;
    border-radius: 10px;
    z-index: 999;
  }
  .footer {
    display: none;
  }
}
