body {
  margin: 0;
  padding: 0;
  width: 100%;
  word-break: keep-all;
}

/* web ver. nav design */
#web-head {
  width: 100%;
  height: 100px;
  background-color: white;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 70px;
  border-bottom: 1px solid lightgray;
}
#logo {
  margin-left: 30px;
  display: flex;
}
.web-menu {
  padding: 0;
  margin-right: 60px;
  margin-left: 100px;
  margin-bottom: 0;
  margin-top: 0;
}
.web-menu > li,
a {
  list-style: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.web-menu li {
  margin-left: 30px;
}
.web-menu a:hover {
  color: #ff8f8f;
}
.web-menu li::after {
  position: relative;
  content: '';
  display: block;
  border-bottom: 2px solid #ff8f8f;
  transition: width 250ms ease-out;
  left: auto;
  right: 0;
  width: 0;
  /* border-bottom이 왜 header 밖에 있을까.. */
  /* 클릭하면 언더라인 고정되게, nth-child */
}
.web-menu li:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

/* main content */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main-title {
  font-size: 36px;
  font-weight: 700;
  margin: 80px 1px;
}

form {
  width: 70%;
  margin: 30px 0;
  border: 1px solid lightgray;
}
p.title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 10px 40px;
}
label {
  display: flex;
  align-items: center;
}
div.input-category {
  float: left;
  width: 150px;
  text-align: right;
}
input {
  border: 2px solid #ff8f8f;
  border-radius: 6px;
  height: 24px;
  margin-bottom: 4px;
  padding: 4px;
}

[type='text'],
[type='date'],
[type='password'],
[type='email'] {
  width: 300px;
}
input[type='button'] {
  border: none;
  width: 120px;
  height: 34px;
  margin-left: 10px;
}
input.searchAdd {
  display: flex;
  flex-direction: column;
}

.petInfoEvent {
  width: 95%;
  height: 24px;
  background-color: #ff8f8f;
  color: white;
  font-weight: 500;
  margin: 0;
  padding: 8px 30px;
}
#petType {
  display: flex;
  justify-content: center;
  margin: 4px 1px;
}
#petGender {
  display: flex;
  margin: 4px 1px;
}

/* media query for web*/
@media screen and (min-width: 480px) {
  #small-head > * {
    display: none;
  }

  /* web btn style */
  #registerBtn {
    width: 400px;
    height: 80px;
    background-color: #ff8f8f;
    color: white;
    border: 0;
    border-radius: 12px;
    box-shadow: 0 4px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    transition: 0.1s;
    margin-top: 100px;
  }
  #registerBtn:active {
    box-shadow: 0 1px #000;
    transform: translateY(10px);
  }
}

/* mediaquery for mobile */
@media screen and (max-width: 480px) {
  #web-head {
    display: none;
  }

  /* mobile btn style */
  #registerBtn {
    width: 200px;
    height: 60px;
    background-color: #ff8f8f;
    color: white;
    border: 0;
    border-radius: 12px;
    box-shadow: 0 4px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    transition: 0.1s;
    margin-top: 100px;
  }
  #registerBtn:active {
    box-shadow: 0 1px #000;
    transform: translateY(10px);
  }
}
