/* MAIN BODY /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
body {
  background-image: url(../img/main-frame.png);
  background-size: cover;
}

h3 {
  margin: 0;
  font-weight: 550;
  font-size: 20px;
}

/* body and container ------------------------------------------------------------------------------------------------------------ */

.body {
  max-width: 780px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#selecttime {
  margin-top: 60px;
}

.inlinex {
  margin-top: 20px;
  margin-bottom: 20px;
}

.inlined {
  display: inline;
}

.container-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px;
  padding: 0;
}

.container-row2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 10px;
  padding: 0;
  margin-bottom: 100px;
}
.container-row3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 10px;
  padding: 0;
}

.select {
  position: relative;
  top: 15px;
  left: 15px;
}

.container:nth-of-type(1) {
  margin-top: 30px;
}

.container-grid {
  display: grid;
  gap: 2rem;
}

.container11 h3 {
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 900px;
}
.container1 h3 {
  font-size: 25px;
  font-weight: 900px;
}

/* animal section------------------------------------------------------------------------------------------------------------ */
#appointmentType {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 30px;
}

#content {
  max-width: 800px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.animal {
  border: solid 1px;
  border-color: #cacaca;
  border-radius: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  max-width: 780px;
}

#cat {
  height: 50px;
  width: 60px;
  margin: 20px 30px;
}

#hospital {
  height: 270px;
  width: 400px;
  border-radius: 10%;
  margin: 20px 30px;
}

.animal-content h3 {
  font-size: 20px;
}

.animal-content p {
  font-size: 15px;
}

/* hospital section------------------------------------------------------------------------------------------------------------- */
.container-hospital {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 0;
}

.hospital {
  width: 100%;
  min-height: 140px;
  border: solid 1px;
  border-color: #cacaca;
  border-radius: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.hospital-content h3 {
  font-size: 20px;
}

/* button------------------------------------------------------------------------------------------------------------ */

.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 35px;
  border: solid 1px;
  background-color: white;
  border: 1px solid rgb(176, 176, 176);
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  margin-top: -10px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  height: 50px;
  border: solid 1px;
  background-color: white;
  border: 1px solid rgb(176, 176, 176);
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  margin-top: -10px;
  flex-direction: column;
}

.btn:hover {
  border: 2px solid #ff8f8f;
}

.btn:active {
  font-weight: 700;
}

/* calendar------------------------------------------------------------------------------------------------------------ */
#calendar {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}
#calendar th,
#calendar td {
  padding: 4px;
  text-align: center;
  /* border: 1px solid #915151; */
  border-radius: 10px;
  cursor: pointer;
}
#calendar th {
  background-color: #ffd3d3;
  border-radius: 10px;
  color: rgb(69, 68, 68);
}

#calendar #not1:hover {
  color: #000000;
}

#calendar td:hover {
  color: #ff8f8f;
  font-weight: 700;
}


.calendar-container {
  margin: 20px;
  min-width: 780px;
  height: 300px;
  border: solid 1px;
  border-radius: 10px;
  border-color: #cacaca;
}
.calendar-title {
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  margin-top: 10px;
}

/* time-choice------------------------------------------------------------------------------------------------------------ */

.time-slot-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
}

.time-slot {
  min-width: 120px;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 10px 5px;
  cursor: pointer;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  border-radius: 10px;
  border-color: #cacaca;
}
.time-slot:hover {
  color: #ff8f8f;
  font-weight: 700;
}

#accordionExample {
  margin-bottom: 40px;
}

/* 吏꾨즺 �⑤ぉ �좏깮 & �좎쓽 �ы빆 ---------------------------------------------------------------------------------------------------- */

.body-hospital-2 {
  justify-content: flex-start;
}
#appointmentType {
  border: solid 1px;
  color: #3c3c3c;
}

#appointmentType:hover {
  border-color: #3c3c3c;
  color: #ff8f8f;
  font-weight: 700;
}

#content {
  border: solid 1px;
  color: #3c3c3c;
  width: 63%;
}

#content {
  position: relative;
  top: 15px;
  left: 15px;
}

#content:hover {
  color: #ff8f8f;
  font-weight: 100;
}

.inlinex {
  margin-bottom: 30px;
  text-align: center;
}

/* Media Query ------------------------------------------------------ */

@media screen and (max-width: 480px) {
  .container1 {
    width: 390px;
  }

  .container-row {
    width: 390px;
  }

  .container-row2 {
    width: 390px;
  }

  .container-hospital {
    width: 390px;
  }

  #hospital {
    height: 200px;
    width: 200px;
  }

  .calendar-container {
    min-width: 380px;
  }

  #content {
    border: solid 1px;
    color: #3c3c3c;
    width: 25%;
    position: relative;
    top: 15px;
    left: 15px;
  }

  .inlined {
    margin-left: 40px;
  }

  .inlinex {
    margin-bottom: 30px;
    text-align: center;
  }

  .btn2 {
    width: 40%;
  }
}

/* btn to top */
#toTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.bi-arrow-up-square {
  font-size: 34px;
  color: #f4a29c;
  list-style: none;
  cursor: pointer;
  text-decoration: none;
}
